@use "base.style";

header {
  gap: 5px;
  position: fixed;
  top: 0;
  background: base.$base-background;
  width: 100%;
}

body {
  background-color: base.$base-background;
  color: base.$base-text;
  padding: 5px;
}

.App {
  @include base.center();
  min-height: 98vh;
  position: relative;
  .app-content{
    .developer-info{
      position: fixed;
      top: 0;
      background: base.$base-background;
    }

    .content-area.summary {
      width: 100%;
      border-radius: 10px;
      .details{
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        max-width : 100%;
        span, typography, p{
          font-size: 13px;
          font-weight: lighter;
        }
      }
    }


  }
}

.actions {
  @include base.row();
}

footer{
  bottom: 0;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.27);
  width: 100%;
  z-index: 1000;
}

::-webkit-scrollbar{
  width: 5px;
}